main {
  min-height: 80vh;
}

/* body {
    font-family: 'Metal Mania', cursive !important;
    font-size: 18px !important;
} */

.pagination {
  justify-content: center;
}
.card .price {
  color: salmon;
  padding-top: 10px;
}

.product-card {
  width: 250px;
}

.product-container {
  flex-grow: 0;
  display: flex;
  justify-content: center;
}

.product-page-title {
  text-align: center;
}

.product-info-image {
  max-width: 500px;
}

.product-info-reviews {
  padding-top: 40px;
}

.product-info-details {
  padding-top: 40px;
}

.spinner.loader {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}

.search-bar {
  display: flex;
}

.carousel {
    height: 650px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  
}
.carousel-caption {
  position: absolute;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  max-width: 415px;
  padding: 40px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h4 {
    font-size: 4.5vw;
  }
}
