main {
    min-height: 80vh;
}


.card .price {
    color: salmon;
    padding-top: 10px;
}

.product-card {
    width: 250px;
}

.col.product-container {
    flex-grow: 0;
}

.product-page-title {
    text-align: center;
}

.list-group-item {
    pointer-events: none;
}

.col.product-page-shop-left {
    flex-grow: 0;
}

.spinner.loader {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}

